/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/* variables */
:root {
  --black: #2a363b;
  --red: #e84a5f;
  --green: #99b898;
  --yellow: #feceab;
  --orange: #ff847c;
  --white: #ffffff;
}

body,
#root {
  /* font-family: 'Permanent Marker', cursive; */
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  margin: 0 auto;
}

a,
a:visited {
  color: var(--red);
}

.active {
  background: linear-gradient(to bottom right, var(--red), var(--orange));
}

a.active {
  color: var(--white);
}

.link-grid {
  height: 175px;
  margin-top: -20px;
}

.name {
  background: linear-gradient(to bottom right, var(--red), var(--orange));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 500px) {
  .home > .name-heading {
    text-align: left !important;
  }

  .resume {
    left: 3%;
  }

  .link-grid {
    left: 85% !important;
    margin-top: 0 !important;
    display: grid;
    position: fixed;
    top: 1%;
  }
}
